:host {
    display: grid;
    text-align: center;
    margin: 5rem auto 2rem;
    transform:
        scale(0.7);
}

:host>footer {
    margin: 5rem auto 2rem;
}

.year {
    font-weight:
        bold;
    font-size: larger;
    display: block;
    line-height: 2rem;
}

.license {
    display: block;
    font-style: italic;
    font-weight: lighter;
    margin-top: 1rem;
}

:host hr {
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    margin-top:
        -1px;
}